.main {
    height: calc(100vh - 156px);
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.layout {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
}