@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'DanjoBoldRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADORegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MangoDdobak_B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PretendardRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'neon';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf');
}

main {
    min-height: calc(100vh - 160px);
}

@layer components {
    .ocean {
        height: 5%;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        background: #015871;
    }

    .wave {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
        position: absolute;
        top: -198px;
        width: 6400px;
        height: 198px;
        animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
        top: -175px;
        animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
        opacity: 1;
    }

    @keyframes wave {
        0% {
            margin-left: 0;
        }
        100% {
            margin-left: -1600px;
        }
    }

    @keyframes swell {
        0%, 100% {
            transform: translate3d(0,-25px,0);
        }
        50% {
            transform: translate3d(0,5px,0);
        }
    }



    .neon {
        font-family: "Neon", serif;
        color: #FB4264;
        text-shadow: 0 0 3vw #F40A35;
    }

    .flux {
        font-family: "Neon", serif;
        color: #426DFB;
        text-shadow: 0 0 3vw #2356FF;
    }

    .neon {
        animation: neon 1s ease infinite;
        -moz-animation: neon 1s ease infinite;
        -webkit-animation: neon 1s ease infinite;
    }

    .flux {
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }

    .neon_line {
        background-color: #FB4264;
        border: #FB4264 dot-dot-dash 2px;
        box-shadow: 0 0 3vw #F40A35;
        border-radius: 16px;
        padding: 5px 12px;
        animation: neon_line 1s ease infinite;
        -moz-animation: neon_line 1s ease infinite;
        -webkit-animation: neon_line 1s ease infinite;
    }

    .flux_line {
        background-color: #FB4264;
        border: #FB4264 dot-dot-dash 2px;
        box-shadow: 0 0 3vw #F40A35;
        border-radius: 16px;
        padding: 5px 12px;
        animation: flux_line 1s ease infinite;
        -moz-animation: flux_line 1s ease infinite;
        -webkit-animation: flux_line 1s ease infinite;
    }

    @keyframes neon {
        0%,
        100% {
            text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
            color: #FED128;
        }
        50% {
            text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
            color: #806914;
        }
    }

    @keyframes neon_line {
        0%,
        100% {
            box-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
            border-color: #FED128;
            background-color: #FED128;
        }
        50% {
            box-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
            border-color: #806914;
            background-color: #806914;
        }
    }

    @keyframes flux_line {
        0%,
        100% {
            box-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
            border-color: #28D7FE;
            background-color: #28D7FE;
        }
        50% {
            box-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
            border-color: #146C80;
            background-color: #146C80;
        }
    }


    @keyframes flux {
        0%,
        100% {
            text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
            color: #28D7FE;
        }
        50% {
            text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
            color: #146C80;
        }
    }
}